*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: helvetica;
}

:root{
    --zm-primary: #222222;
    --zm-secondary: #4a4a4a;
    --zm-success: #4bc800;
}
/* Utilities */
.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}
/* End region Utilities */

header{
    background-color: black;
    height: 50px;
    font-size: 12px;
}

header, footer{
    width: 100%;
 
}

main{
    height: calc(100vh - 130px);
    background-color: black;
    overflow: auto;
    padding: 1rem 0;
}

footer{
    background-color: var(--zm-primary);
    height: 80px;
}

.d-flex{
    display: flex;
}

.item, .enlarge{
    background-color: var(--zm-secondary);
    padding: .3rem;
    border-radius: 8px;
}

.speaker{
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding-right: 5px;
}

.wrapper{
    width: 95%;
    margin: auto;
}

.row{
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card{
    position: relative;
}

img{
    padding-bottom: 5px;
   
}

.profile{
    position: absolute;
    bottom: 5px;
    background-color: #4a4a4a79;
    padding: 5px;
    font-size: 12px;
}

.container{
    height: 80px;
    justify-content: space-between;
    gap: 1rem;
}

footer i{
    padding-bottom: 1.5rem;
}



.option{
    padding: .5rem;
    padding-right: 1rem;
}

.green{
    color: var(--zm-success);
}


.end_menu{
    background-color: var(--zm-secondary);
    justify-content: center;
    padding: 1rem;
    color: red;
    
}


